{% extends "base.html" %}

<!--
Template file: statuses.html
URL: /status/
Title: Project Statuses Page
Description: Trello - like display of projects. Statuses and reponsibles etc.
-->

{% block stuff %}

<h1 id="page_title">Project Statuses</h1>

<h2 id="page_loading" style="color: red;">Loading</h2>

<div class="row">
  <div class="col-sm-4">
    <h4>Active Filters</h4>
    <dl class="dl-horizontal">
      <dt>Responsible</dt>
      <dd>Everyone</dd>
      
      <dt>Project Type</dt>
      <dd>Production &amp; Applications</dd>
      
      <dt>Application Types</dt>
      <dd>Everything</dd>
      
      <dt>Sorted by</dt>
      <dd class="sorting_mode">None</dd>
    </dl>
  </div>
  <div class="col-sm-4">
    <h4>Set Filters</h4>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Responsible <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Everyone</a></li>
        <li><a href="#">Just Me (Phil Ewels)</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Bahram</a></li>
        <li><a href="#">Denis</a></li>
        <li><a href="#">Marianna</a></li>
        <li><a href="#">Phil</a></li>
        <li><a href="#">Sverker</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Project Type <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Everything</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Production</a></li>
        <li><a href="#">Applications</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Application <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Everything</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">RNA-Seq</a></li>
        <li><a href="#">RNA-Seq</a></li>
        <li><a href="#">RNA-Seq</a></li>
        <li><a href="#">RNA-Seq</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Project Age <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Everything</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">&gt; 28 days</a></li>
        <li><a href="#">&gt; 14 days</a></li>
        <li><a href="#">&lt; 7 days</a></li>
        <li><a href="#">&lt; 2 days</a></li>
      </ul>
    </div>
    <input type="text" class="form-control input-sm" placeholder="Search" style="display: inline-block; width: 200px; margin:10px 0 0;">
  </div>
  <div class="col-sm-4">
    <h4>Actions</h4>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Set Responsible <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Me (Phil Ewels)</a></li>
        <li><a href="#">Clear (no-one)</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Bahram</a></li>
        <li><a href="#">Denis</a></li>
        <li><a href="#">Marianna</a></li>
        <li><a href="#">Phil</a></li>
        <li><a href="#">Sverker</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sorting_mode">Sort</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" id="sort-menu">
        <li><a href="#">Age</a></li>
        <li><a href="#">Name</a></li>
        <li><a href="#">ID</a></li>
        <li><a href="#">Project Type</a></li>
        <li><a href="#">Application</a></li>
        <li><a href="#">Num Samples</a></li>
      </ul>
    </div>
  </div>
</div>

<hr>

<div class="pstatus_column" id="reception_control">
  <h3>
    <button class="btn btn-sm btn-default pull-right pstatus_selectAll">Select All</button>
    Reception Control
  </h3>
  <div class="pstatus_wrapper"></div>
</div>
<div class="pstatus_column" id="library_prep">
    <h3>
      <button class="btn btn-sm btn-default pull-right pstatus_selectAll">Select All</button>
      Library Prep
    </h3>
    <div class="pstatus_wrapper"></div>
</div>
<div class="pstatus_column" id="sequencing">
    <h3>
      <button class="btn btn-sm btn-default pull-right pstatus_selectAll">Select All</button>
      Sequencing
    </h3>
    <div class="pstatus_wrapper"></div>
</div>


<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  
    // Remove default moment.js 'ago' from relative time
    moment.locale('en', {
      relativeTime : {
        future: "in %s",
        past:   "%s",
        s:  "seconds",
        m:  "a minute",
        mm: "%d minutes",
        h:  "an hour",
        hh: "%d hours",
        d:  "a day",
        dd: "%d days",
        M:  "a month",
        MM: "%d months",
        y:  "a year",
        yy: "%d years"
      }
    });
    
    var prevClicked = null;
    
    // Wait for the data to load.
    // $.when(load_data('#reception_control'), load_data('#library_prep'), load_data('#sequencing')).done(function(){
    $.when(load_data('#reception_control')).done(function(){
      
      $('#page_loading').remove();
        
      // Remove selected statuses if click whitespace
      $('body').click(function(e){
        if ( $(e.target).hasClass('container-fluid') ){
          $('.pstatus_proj').removeClass('selected');
        }
      });
      
      // Select all buttons
      $('.pstatus_selectAll').click(function(e){
        e.preventDefault();
        $(this).closest('.pstatus_column').find('.pstatus_proj').addClass('selected');
      });
      
      // Project events
      $('.pstatus_wrapper').on('click', '.pstatus_proj', function(e){
        if (e.shiftKey && prevClicked){
          var sibs = $(this).closest('.pstatus_column').find('.pstatus_proj');
          var start = sibs.index($(this));
          var end = sibs.index($('#'+prevClicked));
          var selection = sibs.slice(Math.min(start,end), Math.max(start,end)+ 1);
          if($('#'+prevClicked).hasClass('selected')){
            selection.addClass('selected');
          } else {
            selection.removeClass('selected');
          }
        } else if (e.ctrlKey || e.metaKey) {
          $(this).toggleClass('selected');
        } else  {
          $('.pstatus_proj').removeClass('selected');
          $(this).addClass('selected');
        }
        prevClicked = $(this).attr('id');
      }).sortable({
        connectWith: '.pstatus_wrapper',
        delay: 150, // wait to see if this is a click
        revert: 0,
        start: function (e, ui) {
          
          ui.item.addClass('tilt');
          
          // Add target zones for lists
          $('.pstatus_wrapper').addClass('activeDragging');
          
          // This wasn't selected yet - unselect everything else
          if (!ui.item.hasClass('selected')) {
            $('.pstatus_proj').removeClass('selected');
            ui.item.addClass('selected');
          }
          
          // Clone and remove any other selected items
          var os = $('.selected:not(.tilt):not(.ui-sortable-placeholder)');
          if(os.length > 0){
            ui.item.addClass('multiDrag');
          }
          ui.item.data('other_selected', os.clone()); // save in item.data
          os.remove();
          
        },
        stop: function (e, ui) {
          
          // Get other selected projects and insert them afterwards
          var elements = ui.item.data('other_selected');
          ui.item.after(elements);
          
          // Strip the classes
          $('.pstatus_proj').removeClass('tilt multiDrag');
          $('.pstatus_wrapper').removeClass('activeDragging');
          
          $('dd.sorting_mode').text('None');
          $('button .sorting_mode').text('Sort');
          
        }
      });
      
      //////
      // SORTING
      //////
      var sort_classes = {
        'Name': '.pstatus_name',
        'ID': '.pstatus_pid',
        'Project Type': '.pstatus_prod_app',
        'Application': '.pstatus_application'
      };
      $('#sort-menu li a').click(function(e){
        var mode = $(this).text();
        $('.pstatus_wrapper').each(function(){
          if(mode == 'Age'){
            $(this).find('.pstatus_proj').sort(function(a,b){
              var aDate = moment($(a).find(".pstatus_age").data('opendate'));
              var bDate = moment($(b).find(".pstatus_age").data('opendate'));
              return aDate > bDate ? 1 : -1;
            }).appendTo($(this));
          } else if(mode == 'Num Samples'){
            $(this).find('.pstatus_proj').sort(function(a,b){
              var a = parseFloat($(a).find('.pstats_num_samples').text().slice(0, -8));
              var b = parseFloat($(b).find('.pstats_num_samples').text().slice(0, -8));
              return a < b ? 1 : -1;
            }).appendTo($(this));
          } else {
            var cl = sort_classes[mode];
            $(this).find('.pstatus_proj').sort(function(a,b){
              var a = $(a).find(cl).text().toLowerCase();
              var b = $(b).find(cl).text().toLowerCase();
              return a > b ? 1 : -1;
            }).appendTo($(this));
          }
          $('.sorting_mode').text(mode);
        });
      });
      
    });
});

function load_data(target){
  // Load the data
  var urls = {
    '#reception_control': '/api/v1/projects?list=reception_control',
    '#library_prep': '/api/v1/projects?list=ongoing',
    // TODO - don't have a URL for this yet
    '#sequencing': '/api/v1/projects?list=pending_review',
  };
  return $.getJSON(urls[target], function(data) {
    // console.log(data);
    $.each(data, function(project_id, proj) {
      var age = moment(proj.open_date, 'YYYY-MM-DD').fromNow();
      $(target+' .pstatus_wrapper').append('<div class="pstatus_proj draggable" id="pstatus_'+project_id+'">\
          <h4><small><span class="pstatus_age label label-warning pull-right" data-opendate="'+proj.open_date+'">'+age+'</span></small>\
          <span class="pstatus_name">'+proj.project_name+'</span> <small class="pstatus_pid">'+project_id+'</small></h4>\
          <span class="pstatus_responsible pull-right label label-default">Phil Ewels</span>\
          <span class="pstatus_prod_app label label-primary">'+proj.type.substr(0,1)+'</span>\
          <span class="pstatus_application label label-success">'+proj.application+'</span>\
          <span class="pstats_num_samples label label-info">'+proj.no_samples+' samples</span>\
          <div class="clearfix"></div>\
      </div>');
    });
  });
}
</script>

{% end %}
